/*
 Stylesheet:     Robert D Allen MBA
 URL:            http://RobertDAllen.com/
 Author:         Robert Allen
 Version:        2019.09.13
*/


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700&display=swap');

html {scroll-behavior: smooth;}

h1, h2, h3, h4, h5, h6, p, span {font-family: 'Raleway', sans-serif; margin: 8px 0px;}

h1 {font-size: 40px; line-height: 35px; color: #fcd21d;}
h2 {font-size: 16px; line-height: 35px; display: inline;}
h3 {font-size: 22px; line-height: 25px; font-style: italic; font-weight: 300;}
h4 {font-size: 22px; line-height: 25px; font-weight: 700; color: #ffffff;}
h5 {font-size: 25px; line-height: 18px; font-style: italic;}
h6 {font-size: 18px; line-height: 22px; text-transform: uppercase; color: #fcd21d;font-weight: 700; margin-top: 20px;}
p {font-size: 16px; line-height: 20px; display: block;}
strong {font-weight: 700;}
a {font-weight: 700; color: lightskyblue; }
hr {margin: 20px 0;}

body {
    margin: auto;
    color: #666666;
}
body.nightMode {
    background-color: #333333;
    color: #f2f2f2;
}
body.dayMode {
    background-color: #ffffff;
    color: #666666;
}
body div.body {
    z-index: 9;
    height: auto;
    display: inline-block;
    width: 100%;
}
div.row {
    max-width: 1200px;
    width: 80%;
    margin: auto;
    display: block;
}
.row:after, .inner_text:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    line-height: 0;
    content: ".";
}
div.column {
    width: 100%;
    display: inline-block;
    margin: auto;
}
button#night, button#day {
    color: #333333;
    border: none;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
}
button#night {
    color: #f2f2f2;
    background-color: #333333;
}
button#day {
    color: #333333;
    background-color: #ffffff;
}
button.hidden {
    visibility: hidden;
    width: 0;
    padding: 0;
    height: 0;
    float: right;
}
button.visible {
    visibility: visible;
    width: auto;
    padding: 10px 15px;
    height: auto;
}

/* Start of Mobile Styles */ 

    /* Start of HEADER  */
    @media screen and (max-width: 500px) {
        h1.rpheadline {
            font-size: 30px;
        }
    }
    div.header .container {
        max-width: 1200px;
        width: 80%;
        margin: auto;
    }
    div.header .examples_2 .column_1_2, div.header .examples_2 .column_2_2 {
        width: 100%;
        text-align: left;
        align-self: flex-start;
    }
    div.header {
        z-index: 10;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
        display: inline-block;
        width: 100%;
        padding: 10px 0 0 0;
        margin-bottom: 20px;
    }
    .download_link {
        margin-top: 18px;
    }
    /* End of HEADER */

    /* Start of SUMMARY */
    div.image_module {
        width: 100%;
        display: block;
    }
    img.profile_image {
        border-radius: 50%;
        width: 30%;
        max-width: 250px;
        height: auto;
        float: right;
        margin-top: 20px;
    }
    div.key_points > p {
        margin-bottom: 13px;
        font-size: 14px;
    }
    div.column_key {
        width: 100%;
        text-align: left;
        float: left;
        margin-right:auto;
        display: block;
    }
    div.column_info {
        width: 100%;
        text-align: left;
        display: block;
        float: left;
    }
    /* End of SUMMARY */

    /* Start of BODY */
    p.rpsectionhead {
        color: #fcd21d;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
        padding-bottom: 0;
        margin-top: 40px;
    }
    div.rowportfolio {
        padding: 27px 0 0 0;
    }
    div.section_title > div.text_inner > h3 {
        margin-left: 50px;
    }

        /* Start of Portfolio Display - General */
        h4.company_name {
            padding: 11px;
            margin-left: 0;
            max-width: 200px;
            padding-bottom: 30px;
        }
        div.section_title {
            background-color: #333;
            border-radius: 0 0 100% 0;
            max-width: 450px;
            height: auto;
        }
        .examples_1, .examples_2, .examples_4 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 100%;
            padding-bottom: 25px;
        }
        div.column_1_2, div.column_2_2, 
        div.column_1_4, div.column_2_4, div.column_3_4, div.column_4_4 {
            width: 47%;
            text-align: center;
            align-self: flex-start;
        }
        p.img_title {
            font-weight: 700;
            margin-top: 22px;
        }
        div.image > a >span.image_wrap > img {
            width: 100%;
        }
        div.stats {
            margin-top: 20px;
        }
        div.stats > hr {
            margin: 20px 10px;
        }
        div#campusadvantage {
            margin-top: 50px;
        }
        /* End of Portfolio Display */
    /* End of BODY */

    /* Start of FOOTER */
    div.footer {
        min-height: 100px;
        margin-top: 40px;
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
    }
    div.footer > div.row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px;
    }
    div.footer > div.row > span {
        width: 100%;
        text-align: center;
        flex-grow: 2;
    }
    div.footer > div.row > span > a {
        color: #ffffff;
        font-weight: 400;
        font-size: 24px;
        text-decoration: none;
        display: inline-block;
    }
    div.footer > div.row > span > a.activeLink {
        color: #fcd21d;
        text-decoration: underline;
        cursor: not-allowed;
    }
    /* End of FOOTER */

/* End of Mobile Styles */

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */

/* Start of DESKTOP MEDIA QUERY */

@media only screen and (min-width: 900px) {
    /* Start of HEADER */
    div.header .examples_2 .column_1_2 {
        text-align: left;
    }
    div.header .examples_2 .column_2_2 {
        text-align: right;
    }
    div.header .examples_2 .column_1_2, div.header .examples_2 .column_2_2 {
        width: auto;
        align-self: flex-start;
    }
    .download_link {
        margin-top: 25px;
    }
    /* End of HEADER */

    /* Start of SUMMARY */
    div.image_module {
        display: inline-block;
    }
    img.profile_image {
        width: 95%;
        float: left;
        margin-bottom: 20px;
        margin-top: 15px;
        display: block;
    }
    div.column_key {
        width: 24%;
    }
    div.column_info {
        width: 72%;
        float: right;
    }
    /* End of SUMMARY */

    /* Start of BODY */
        /* Start of Portfolio Display - General */
        h4.company_name {
            max-width: 100%;
            padding-bottom: 20px;
        }
        div.section_title {
            max-width: 450px;
            height: 75px;
        }
        p.img_title {
            margin-top: 12px;
        }
        div.stats {
            margin-top: 50px;
        }
        div.stats > hr {
            margin: 20px 35px;
        }
        div.column_1_4, div.column_2_4, div.column_3_4, div.column_4_4 {
            width: 21%;
        }
        /* End of Portfolio Display*/
    /* End of BODY */
    
    /* Start of FOOTER */
    div.footer > div.row > span {
        width: 19%;
        text-align: center;
    }
    /* End of FOOTER */
}
/* End of DESKTOP MEDIA QUERY */

